.home__container {
  width: 100%;
}
.map__wrapper {
  position: relative;
  min-height: 335px;
}
.home__card {
  font-family: Poppins;
  font-weight: 700;
  position: absolute;
  bottom: -100px;
  right: 15%;
  max-width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.card__h1--a {
  display: block;
  margin-left: -65px;
  font-size: 69px;
}
.card__h1--b {
  display: block;
  margin-left: -87px;
  font-size: 52px;
}
.card__h1--c {
  display: block;
  margin-left: -65px;
  font-size: 69px;
}
