<!-- <button (click)='get()'>GET</button> -->
<button (click)='fbLogin()'>fbLogin</button>
<button (click)='logout()'>logout</button>
<button (click)='isLoggedIn()'>isLoggedIn</button>
<button (click)='getCurrentUser()'>getCurrentUser</button>
<button (click)='emailSignup()'>emailSignup</button>
<button (click)='emailLogin()'>emailLogin</button>
<button (click)='getPosts()'>getPosts</button>
<button (click)='check()'>check</button>
<hr>
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<input [(ngModel)]="message" type="text">
<button (click)="newPost()">upload Image</button>
<hr>
<div class="posts" *ngFor="let post of postList">
	<span><b>Message: </b>{{post.description}}</span>
	<button (click)="deletePost(post._id)">Delete post</button>
	<img src="http://localhost:3000/{{post.image}}" alt="">
	<button (click)="like(post._id)">like</button>
	<hr>
	<b>Comments:</b>
	<div *ngIf="post.lastComment" class="last-comment">
		<b>Last comment:</b>
		<img src="{{post.lastComment.userPhoto}}" alt="">
		<strong>{{post.lastComment.username}}</strong>
		<p>{{post.lastComment.message}}</p>
	</div>
	<div *ngIf="!post.lastComment" class="last-comment">
		No comments
	</div>
	<div *ngFor="let comment of allComments">
		<p>{{comment.message}}</p>
		<button (click)="deleteComment(comment._id)">deleteComment</button>
	</div>
	<input #inp type="text" placeholder="comment">
	<hr>
	<button (click)="postComment(inp.value, post._id)">post</button>
	<button (click)='logAllComments(post._id)'>logAllComments</button>
	<button (click)="report(post._id)">report</button>
	<span>{{post._id}}</span>
</div>
