<!-- <button (click)='get()'>GET</button> -->
<button (click)='fbLogin()'>fbLogin</button>
<button (click)='logout()'>logout</button>
<button (click)='isLoggedIn()'>isLoggedIn</button>
<button (click)='getCurrentUser()'>getCurrentUser</button>
<button (click)='emailSignup()'>emailSignup</button>
<button (click)='emailLogin()'>emailLogin</button>
<button (click)='getPosts()'>getPosts</button>
<button (click)='filter(selectSort.value, filterBy, (filterBy === "user" ? user._id : categoryFilter), 0, 0)'>filter</button>
<select #selectSort name="" id="">
	<option value="createdAt" selected>Date (old to new)</option>
	<option value="-createdAt">Date (new to old)</option>
	<option value="-commentCount">Number of comments</option>
	<option value="-likes.count">Number of likes</option>
</select>
<select [(ngModel)]="filterBy" name="" id="">
	<option value="user">user (only this user)</option>
	<option value="category">category</option>
	<option value="location">location</option>
	<option value="">no filter</option>
</select>
<select [(ngModel)]="categoryFilter" *ngIf="filterBy === 'category'">
	<option value="dogs">Dogs</option>
	<option value="cats">Cats</option>
</select>
<input [(ngModel)]="dateFrom" type="date">
<input [(ngModel)]="dateTo" type="date">
<hr>
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<input [(ngModel)]="message" type="text">
<select [(ngModel)]="category">
	<option value="dogs" selected>Dogs</option>
	<option value="cats">Cats</option>
</select>
<input [(ngModel)]="date" type="date">
<button (click)="newPost()">upload Image</button>
<hr>
<div class="posts" *ngFor="let post of postList">
	<button (click)="getOnePost(post._id)">getOnePost</button>
	<span><b>Message: </b>{{post.description}}</span>
	<button (click)="deletePost(post._id)">Delete post</button>
	<img src="http://localhost:3000/{{post.image}}" alt="">
	<button (click)="like(post._id)">like</button>
	<hr>
	<b>Comments:</b>
	<div *ngIf="post.lastComment" class="last-comment">
		<b>Last comment:</b>
		<img src="{{post.lastComment.userPhoto}}" alt="">
		<strong>{{post.lastComment.username}}</strong>
		<p>{{post.lastComment.message}}</p>
	</div>
	<div *ngIf="!post.lastComment" class="last-comment">
		No comments
	</div>
	<div *ngFor="let comment of allComments">
		<p>{{comment.message}}</p>
		<button (click)="deleteComment(comment._id, post._id, post.lastComment.id)">deleteComment</button>
	</div>
	<input #inp type="text" placeholder="comment">
	<hr>
	<button (click)="postComment(inp.value, post._id)">post</button>
	<button (click)='logAllComments(post._id)'>logAllComments</button>
	<button (click)="report(post._id)">report</button>
	<span>{{post._id}}</span>
</div>
