/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.is-danger {
  color: red;
}

.sm-text {
  font-size: 10px;
}
