/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Poppins:300,400,700|Arimo');

// font-family: 'Montserrat', sans-serif;

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.is-danger {
  color: red;
}

.sm-text {
  font-size: 10px;
}
