.selectContainer {
  width: 100%;
  height: 100%;
}
.pac-card {
  margin-top: 10px;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  justify-content: center;
}
.location__btn{
  background: none;
  border: none;
  font-size: 8px;
    width: 79px;
}
.location__icon{
  max-width: 14px;
  margin-right: 4px;
}
.location__input{
  display: flex;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  padding: 8px;
}
