<div class="pac-card" id="pac-card">
  <div class="location__input">
    <input #acInput type="text" matInput class="input__field"
    placeholder="Enter a location">
    <button matButton class="location__btn" (click)="getLocation()"><img class="location__icon" src="./assets/map/location.svg" alt="location svg"><small>mano vieta</small></button>
  </div>

</div>
<div #selectMap class="selectContainer" (click)="addMarker()">
</div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>
